.vscode
src/output
src/analyzerJson
src/interim_binary
src/build.log
__pycache__
*.hiproj

# 忽略系统目录
$RECYCLE.BIN/
System Volume Information/
ToolsChains/
LVGL_HiSpark_GUI_Demo/
屏幕驱动/
project/
fbb_ws63_20251226/
